<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bs/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/about.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
    <link rel='stylesheet' href=<%= cssPath%> />
  </head>
  <body>
<div class="navbar navbar-default navbar-fixed-top">
<div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <img class="navbar-logo" src="/images/logo-square.png">
      <span class="navbar-brand-label">Aqua</span>
    </a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
    <li class=<%= active.index %>>
      <a href="/">Home</a>
    </li>
    <li  class=<%= active.about %>>
      <a href="/about">About</a>
    </li>
    <li  class=<%= active.reg %> >
      <a href="/reg">Sign up</a>
    </li>
    <li  class=<%= active.contact %> >
      <a href="/contact">Contact</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="/login">Sign in</a>
    </li>
  </ul>
</div>
</div>
</div>

<script src="/javascripts/index.js"></script>